body {
  font-family: 'Roboto', sans-serif;
}

input {
  width: 55px;
}

button {
  padding: 5px;
}

button, input[type="submit"] {
  width: 75px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  max-width: 500px;
}

.container {
  max-width: 600px;
  margin: auto;
}

.error-message {
  color: red;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 700px) {

  button, input[type="submit"] {
    width: 75px;
    margin-top: 5px;
 }
}


